{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center">App tasks</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt quis nemo impedit eveniet facere rem quod. Molestias animi ipsam ullam in ab ut quam, ipsum qui aut earum numquam.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="{% url 'signin' %}">
                Login
            </a>
            <a class="btn btn-dark" href="{% url 'signup' %}">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}
